# Environment Configuration Template
# Copy this file to .env and provide appropriate local values.

BCRYPT_ROUNDS=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
FRONTEND_URL=
JWT_EXPIRES_IN=
JWT_SECRET=
NODE_ENV=
PORT=
